= render partial: "layouts/main-header"
- breadcrumb :mypage
= breadcrumbs separator: " &rsaquo; ", link_current: true
%main.mypage-container
  .mypage-content
    %section.mypage-user-icon
      = link_to user_path(current_user) do
        %figure
          = image_tag "yu40ta-avatar.png", size: "60x60"
        %h2.mypage-user-icon__name.bold
          = @user.nickname
        .mypage-user-icon__number
          .mypage-user-icon__number--rate
            評価
            %span.bold
              0
          .mypage-user-icon__number--display
            出品数
            %span.bold
              = @items.length
    %section.mypage-content__tab-container-notification
      %ul.mypage-content__tabs
        %li.mypage-content__tabs--active
          %h3.mypage-content__tabs__head
            = link_to user_path(current_user) do
              お知らせ
        %li.mypage-content__tabs--non-active
          %h3
            = link_to user_path(current_user), class: "mypage-content__tabs__head" do
              やることリスト
      .mypage-content__tab-content
        %ul.mypage-content__tab-content__item-list
          %li
            = link_to user_path(current_user), class: "mypage-content__tab-content__item-list__link" do
              %figure
                = image_tag("mercari_profile.png", size: "48x48")
              .mypage-content__tab-content__item-list__body
                .mypage-content__tab-content__item-list__body--text
                  事務局から個別メッセージ「【メルカリで一山当てませんか？】あなただけに特別なメルカリの使い方、教えます！！！」
                %time
                  = icon "far", "clock"
                  %span 1日前
              = icon "fas", "angle-right", class: "mypage-content__tab-content__item-list__icon"
          %li
            = link_to user_path(current_user), class: "mypage-content__tab-content__item-list__link" do
              %figure
                = image_tag("mercari_profile.png", size: "48x48")
              .mypage-content__tab-content__item-list__body
                .mypage-content__tab-content__item-list__body--text
                  事務局から個別メッセージ「【メルカリで一山当てませんか？】」
                %time
                  = icon "far", "clock"
                  %span 5時間前
              = icon "fas", "angle-right", class: "mypage-content__tab-content__item-list__icon"
          %li
            = link_to user_path(current_user), class: "mypage-content__tab-content__item-list__link" do
              %figure
                = image_tag("mercari_profile.png", size: "48x48")
              .mypage-content__tab-content__item-list__body
                .mypage-content__tab-content__item-list__body--text
                  事務局から個別メッセージ「【メルカリで一山当てませんか？】」
                %time
                  = icon "far", "clock"
                  %span 5週間前
              = icon "fas", "angle-right", class: "mypage-content__tab-content__item-list__icon"
          %li
            = link_to user_path(current_user), class: "mypage-content__tab-content__item-list__link" do
              %figure
                = image_tag("mercari_profile.png", size: "48x48")
              .mypage-content__tab-content__item-list__body
                .mypage-content__tab-content__item-list__body--text
                  事務局から個別メッセージ「【メルカリで一山当てませんか？】あなただけに特別なメルカリの使い方、教えます！！！」
                %time
                  = icon "far", "clock"
                  %span 4時間前
              = icon "fas", "angle-right", class: "mypage-content__tab-content__item-list__icon"
          %li
            = link_to user_path(current_user), class: "mypage-content__tab-content__item-list__link" do
              %figure
                = image_tag("mercari_profile.png", size: "48x48")
              .mypage-content__tab-content__item-list__body
                .mypage-content__tab-content__item-list__body--text
                  事務局から個別メッセージ「【メルカリで一山当てませんか？】あなただけに特別なメルカリの使い方、教えます！！！」
                %time
                  = icon "far", "clock"
                  %span 1分前
              = icon "fas", "angle-right", class: "mypage-content__tab-content__item-list__icon"
          %li.mypage-content__tab-content__item-list__index
            = link_to user_path(current_user) do
              一覧を見る
    %section.mypage-content__tab-container
      %h2.mypage-content__head.bold 購入した商品
      %ul.mypage-content__tabs
        %li.mypage-content__tabs--active
          %h3.mypage-content__tabs__head
            = link_to user_path(current_user) do
              取引中
        %li.mypage-content__tabs--non-active
          %h3.mypage-content__tabs__head
            = link_to user_path(current_user) do
              過去の取引
      .mypage-content__tab-content
        %ul.mypage-content__tab-content-active
          %li.mypage-content__tab-content__not-found.bold
            取引中の商品がありません

  = render partial: "shared/side_bar"

= render partial: "layouts/main-footer"
