= render partial: "layouts/main-header"
- breadcrumb :mypage
= breadcrumbs separator: " &rsaquo; ", link_current: true
%main.mypage-container
  .mypage-content
    %section.mypage-content__tab-container
      %h2.mypage-content__head.bold 出品した商品
      %ul.mypage-content__tabs
        %li.mypage-content__tabs--non-active
          %h3.mypage-content__tabs__head
            = link_to selling_user_path(current_user) do
              出品中
        %li.mypage-content__tabs--non-active
          %h3.mypage-content__tabs__head
            = link_to trading_user_path(current_user) do
              取引中
        %li.mypage-content__tabs--active
          %h3.mypage-content__tabs__head
            = link_to sold_user_path(current_user) do
              売却済み
      .mypage-content__tab-content
        %ul.mypage-content__tab-content-active
          - status = []
          - @set_items.each do |item|
            - if item.trade.status == "取引完了"
              - status << item.trade.status
              %li.mypage-content__box
                = link_to item_path(item) do
                  %figure.mypage-content__box__image
                    = image_tag(item.itemimages.first.image.url)
                  .mypage-content__box__list
                    .mypage-content__box__list__text
                      = item.name
                    .mypage-content__box__list__status
                      %span.mypage-content__box__list__status__likes
                        ♡１
                      %span.mypage-content__box__list__status__comments
                        〼１
                      %span
                        = item.trade.status
          - if status.length == 0
            %li.mypage-content__tab-content__not-found.bold
              取引中の商品がありません

  = render partial: "shared/side_bar"

= render partial: "layouts/main-footer"
