%section.contents__container__item__box__items__item
  %a.contents__container__item__box__items__item__link
    %figure.contents__container__item__box__items__item__link_figure
      = image_tag("cap", :class => "contents__container__item__box__items__item__link_figure_img")
  .contents__container__item__box__items__item_text
    .contents__container__item__box__items__item_text_item-name
      %h3= item.name
    .contents__container__item__box__items__item_text_item-box
      .contents__container__item__box__items__item_text_item-box_price= "¥#{item.price}"
      .contents__container__item__box__items__item_text_item-box_good
        = icon "far", "heart", :class => "contents__container__item__box__items__item_text_item-box_good_btn"
        %span.contents__container__item__box__items__item_text_item-box_good_count 3
    %p.contents__container__item__box__items__item_text_tax （税込）
