= render partial: "layouts/sub-header"

.main
  %h1 購入を確定しますか？
  %section.main__item
    .main__item__info
      .main__item__info__image
        = image_tag(@item_image.image.url, :size => "148x148")
      .main__item__info__item-name
        %p
          = @item.name
      .main__item__info__price
        .main__item__info__price__item-price
          %p
            = "¥ #{@item.price}"
        .main__item__info__price__send-price
          %p
            = @item.shipping_charge

      .main__item__info__confirm-point
        .main__item__info__confirm-point__no-point
          %p ポイントはありません
      .main__item__info__amount-price
        .main__item__info__amount-price__payment
          %p 支払い金額
        .main__item__info__amount-price__en
          %p
            = "¥ #{@item.price}"
    .main__item__button
      = form_tag("/items/#{@item.id}/trades/#{@trade.first.id}", action: "update", method: :patch) do
        %script.payjp-button{"data-key" => "#{PAYJP_PUBLIC_KEY}", :src => "https://checkout.pay.jp", :type => "text/javascript","data-text" => "購入する"}
  %section.main__delivery
    .main__delivery__info
      .main__delivery__info__inner
        %h3 配送先
        .main__delivery__info__inner__zipcode
          %p 590-0012
        .main__delivery__info__inner__address
          %p 大阪府大阪市都島区
        .main__delivery__info__inner__name
          %p
            = current_user.nickname
        =link_to  "", method:"" do
          %span 変更する＞

  %section.main__container
    .main__container__payment
      .main__container__payment__info
        %h3 支払い方法
        .main__container__payment__info__card-no
          %p ********123
        .main__container__payment__info__card-date
          %p 12/23
        = embedded_svg("visa.svg", class:"visa-icon")
        =link_to  "", method:"" do
          %span 変更する＞

= render partial: "layouts/sub-footer"
