= render partial: "layouts/main-header"

.contents
  .contents__top__image-box
  .contents__container
    %h2.contents__container_title ピックアップカテゴリー
    .contents__container__item__box
      %h3.contents__container__item__box_title レディース新着アイテム
      .contents__container__item__box__items
        = render @items
      .contents__container__item__box_link
        %a.contents__container__item__box_link_text すべての商品を見る

    .contents__container__item__box
      %h3.contents__container__item__box_title メンズ新着アイテム
      .contents__container__item__box__items
        = render @items
      .contents__container__item__box_link
        %a.contents__container__item__box_link_text すべての商品を見る
  .contents__under__image-box
    .contents__under__image-box__contents
      .contents__under__image-box__contents__box
        %h2.contents__under__image-box__contents__box_show スマホでかんたんフリマアプリ
        %br
        %p.contents__under__image-box__contents__box_download 今すぐ無料ダウンロード！
        %br
        .contents__under__image-box__contents__box__icons
          = image_tag("mercali5", :size => "68x68", :class => "contents__under__image-box__contents__box__icons_icon")
          = embedded_svg("app-store.svg", :class => "contents__under__image-box__contents__box__icons_app")
          = image_tag("googleplay", :class => "contents__under__image-box__contents__box__icons_google")
      = image_tag("mercari4", :size => "300x262", :class => "contents__under__image-box__contents_image")

= render partial: "layouts/main-footer"
