.contents
	.contents__top__image-box
	.contents__container
		%h2.contents__container_title ピックアップカテゴリー
		.contents__container__item__box
			%h3.contents__container__item__box_title レディース新着アイテム
			.contents__container__item__box__items

				%section.contents__container__item__box__items__item
					%a.contents__container__item__box__items__item__link
						%figure.contents__container__item__box__items__item__link_figure
							= image_tag("cap", :class => "contents__container__item__box__items__item__link_figure_img")
					.contents__container__item__box__items__item_text
						.contents__container__item__box__items__item_text_item-name
							%h3 kajflkjdslfkalkfdj;fd;askfj;lakjfldka;fkja;kf;salk;aaaaaafd
						.contents__container__item__box__items__item_text_item-box
							.contents__container__item__box__items__item_text_item-box_price ¥800
							.contents__container__item__box__items__item_text_item-box_good
								= fa_icon "heart", :class => "contents__container__item__box__items__item_text_item-box_good_btn"
								%span.contents__container__item__box__items__item_text_item-box_good_count 3
						%p.contents__container__item__box__items__item_text_tax （税込）

				%section.contents__container__item__box__items__item
					%a.contents__container__item__box__items__item__link
						%figure.contents__container__item__box__items__item__link_figure
							= image_tag("cap", :class => "contents__container__item__box__items__item__link_figure_img")
					.contents__container__item__box__items__item_text
						.contents__container__item__box__items__item_text_item-name
							%h3.contents__container__item__box__items__item_text_item-name メルカリ
						.contents__container__item__box__items__item_text_item-box
							.contents__container__item__box__items__item_text_item-box_price ¥800
							.contents__container__item__box__items__item_text_item-box_good
								= fa_icon "heart", :class => "contents__container__item__box__items__item_text_item-box_good_btn"
								%span.contents__container__item__box__items__item_text_item-box_good_count 3
						%p.contents__container__item__box__items__item_text_tax （税込）

				%section.contents__container__item__box__items__item
					%a.contents__container__item__box__items__item__link
						%figure.contents__container__item__box__items__item__link_figure
							= image_tag("cap", :class => "contents__container__item__box__items__item__link_figure_img")
					.contents__container__item__box__items__item_text
						.contents__container__item__box__items__item_text_item-name
							%h3 メルカリ
						.contents__container__item__box__items__item_text_item-box
							.contents__container__item__box__items__item_text_item-box_price ¥800
							.contents__container__item__box__items__item_text_item-box_good
								= fa_icon "heart", :class => "contents__container__item__box__items__item_text_item-box_good_btn"
								%span.contents__container__item__box__items__item_text_item-box_good_count 3
						%p.contents__container__item__box__items__item_text_tax （税込）

				%section.contents__container__item__box__items__item
					%a.contents__container__item__box__items__item__link
						%figure.contents__container__item__box__items__item__link_figure
							= image_tag("cap", :class => "contents__container__item__box__items__item__link_figure_img")
					.contents__container__item__box__items__item_text
						.contents__container__item__box__items__item_text_item-name
							%h3 メルカリ
						.contents__container__item__box__items__item_text_item-box
							.contents__container__item__box__items__item_text_item-box_price ¥800
							.contents__container__item__box__items__item_text_item-box_good
								= fa_icon "heart", :class => "contents__container__item__box__items__item_text_item-box_good_btn"
								%span.contents__container__item__box__items__item_text_item-box_good_count 3
						%p.contents__container__item__box__items__item_text_tax （税込）

			.contents__container__item__box_link
				%a.contents__container__item__box_link_text すべての商品を見る
		.contents__container__item__box
			%h3.contents__container__item__box_title メンズ新着アイテム
			.contents__container__item__box__items

				%section.contents__container__item__box__items__item
					%a.contents__container__item__box__items__item__link
						%figure.contents__container__item__box__items__item__link_figure
							= image_tag("cap", :class => "contents__container__item__box__items__item__link_figure_img")
					.contents__container__item__box__items__item_text
						.contents__container__item__box__items__item_text_item-name
							%h3 メルカリ
						.contents__container__item__box__items__item_text_item-box
							.contents__container__item__box__items__item_text_item-box_price ¥800
							.contents__container__item__box__items__item_text_item-box_good
								= fa_icon "heart", :class => "contents__container__item__box__items__item_text_item-box_good_btn"
								%span.contents__container__item__box__items__item_text_item-box_good_count 3
						%p.contents__container__item__box__items__item_text_tax （税込）

				%section.contents__container__item__box__items__item
					%a.contents__container__item__box__items__item__link
						%figure.contents__container__item__box__items__item__link_figure
							= image_tag("cap", :class => "contents__container__item__box__items__item__link_figure_img")
					.contents__container__item__box__items__item_text
						.contents__container__item__box__items__item_text_item-name
							%h3 メルカリ
						.contents__container__item__box__items__item_text_item-box
							.contents__container__item__box__items__item_text_item-box_price ¥800
							.contents__container__item__box__items__item_text_item-box_good
								= fa_icon "heart", :class => "contents__container__item__box__items__item_text_item-box_good_btn"
								%span.contents__container__item__box__items__item_text_item-box_good_count 3
						%p.contents__container__item__box__items__item_text_tax （税込）

				%section.contents__container__item__box__items__item
					%a.contents__container__item__box__items__item__link
						%figure.contents__container__item__box__items__item__link_figure
							= image_tag("cap", :class => "contents__container__item__box__items__item__link_figure_img")
					.contents__container__item__box__items__item_text
						.contents__container__item__box__items__item_text_item-name
							%h3 メルカリ
						.contents__container__item__box__items__item_text_item-box
							.contents__container__item__box__items__item_text_item-box_price ¥800
							.contents__container__item__box__items__item_text_item-box_good
								= fa_icon "heart", :class => "contents__container__item__box__items__item_text_item-box_good_btn"
								%span.contents__container__item__box__items__item_text_item-box_good_count 3
						%p.contents__container__item__box__items__item_text_tax （税込）

				%section.contents__container__item__box__items__item
					%a.contents__container__item__box__items__item__link
						%figure.contents__container__item__box__items__item__link_figure
							= image_tag("cap", :class => "contents__container__item__box__items__item__link_figure_img")
					.contents__container__item__box__items__item_text
						.contents__container__item__box__items__item_text_item-name
							%h3 メルカリ
						.contents__container__item__box__items__item_text_item-box
							.contents__container__item__box__items__item_text_item-box_price ¥800
							.contents__container__item__box__items__item_text_item-box_good
								= fa_icon "heart", :class => "contents__container__item__box__items__item_text_item-box_good_btn"
								%span.contents__container__item__box__items__item_text_item-box_good_count 3
						%p.contents__container__item__box__items__item_text_tax （税込）

			.contents__container__item__box_link
				%a.contents__container__item__box_link_text すべての商品を見る
	.contents__under__image-box
		.contents__under__image-box__contents
			.contents__under__image-box__contents__box
				%h2.contents__under__image-box__contents__box_show スマホでかんたんフリマアプリ
				%br
				%p.contents__under__image-box__contents__box_download 今すぐ無料ダウンロード！
				%br
				.contents__under__image-box__contents__box__icons
					= image_tag("mercali5", :size => "68x68", :class => "contents__under__image-box__contents__box__icons_icon")
					= embedded_svg("app-store.svg", :class => "contents__under__image-box__contents__box__icons_app")
					= image_tag("googleplay", :class => "contents__under__image-box__contents__box__icons_google")
			= image_tag("mercari4", :size => "300x262", :class => "contents__under__image-box__contents_image")
