.item-contents
  .item-contents__title
    %h2 商品の情報を入力
  = form_for @item, url: {controller: :items, action: :create } do |f|
    .item-contents__image
      %h4 出品画像
      %span 必須
      %p 最大10枚までアップロードできます
      = f.fields_for :itemimages do |fin|
        .item-contents__image_drop-box
          = fin.label :image, :class => "item-contents__image_drop-box_label", :id => "droparea"
          = fin.file_field :image, :class => "item-contents__image_drop-box_click"
    .item-contents__item-info
      .item-contents__item-info_name
        %h4 商品名
        %span 必須
        = f.text_field :name, :class => "item-contents__item-info_name_input", :placeholder => "商品名（必須 40文字まで)"
      .item-contents__item-info_description
        %h4 商品の説明
        %span 必須
        = f.text_area :description, :class => "item-contents__item-info_description_input", :placeholder => "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", :rows => 5;
    .item-contents__item-about.clearfix
      %h3 商品の詳細
      .item-contents__item-about_box
        .item-contents__item-about_box_category
          %h4 カテゴリー
          %span 必須
          = icon "fas", "angle-down", :class => "select_icon"
          = f.select :condition, :class => "item-contents__item-about_box_condition_input",:prompt => "---"
        .item-contents__item-about_box_condition
          %h4 商品の状態
          %span 必須
          = icon "fas", "angle-down", :class => "select_icon"
          = f.select :condition, ["新品、未使用", "未使用に近い","目立った傷や汚れなし", "やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"], :class => "item-contents__item-about_box_condition_input",:prompt => "---"
    .item-contents__shipping.clearfix
      %h3 配送について
      .item-contents__shipping_box
        .item-contents__shipping_box_charge
          %h4 配送料の負担
          %span 必須
          = icon "fas", "angle-down", :class => "select_icon"
          = f.select :shipping_charge,[["送料込み（出品者負担）",1],["着払い（購入者負担）",2]],:prompt => "---", :class => "item-contents__shipping_box_charge_input"
        .item-contents__shipping_box_method
          %h4 配送の方法
          %span 必須
          = f.select :shipping_method, ["未定","クロネコヤマト","ゆうパック","ゆうメール"], :prompt => "---",:class => "item-contents__shipping_box_method_input"
        .item-contents__shipping_box_ship-from-region
          %h4 発送元の地域
          %span 必須
          = icon "fas", "angle-down", :class => "select_icon"
          = f.select :ship_from_region, @regions.map{|t| [t.name]}, :class => "item-contents__shipping_box_from-region-input",:prompt => "---"
        .item-contents__shipping_box_date
          %h4 発送までの日数
          %span 必須
          = icon "fas", "angle-down", :class => "select_icon"
		  = f.select :shipping_date,["1~2日で発送","2~3日で発送","4~7日で発送"], :class => "item-contents__shipping_box_date_input",:prompt => "---"
    .item-contents__price.clearfix
      %h3 販売価格(300〜9,999,999)
      .item-contents__price_box
        %ul
          %li.item-contents__price_box_list_top.clearfix
            .item-contents__price_box_list_top_label
              %h4 価格
              %span<> 必須
            .item-contents__price_box_list_top_right
              %p ¥
              = f.text_field :price, :class => "item-contents__price_box_list_top_right_input", :placeholder =>"例）300"
          %li.item-contents__price_box_list
            %p.item-contents__price_box_list_text 販売手数料（10%）
            %p.item-contents__price_box_list_sales -
          %li.item-contents__price_box_list
			%h5 販売利益
			%p.item-contents__price_box_list_sales_under -
    .item-contents__submit
      = link_to "禁止されている出品"
      、
      = link_to "行為"
      を必ずご確認ください。
      %br
      またブランド品でシリアルナンバー等がある場合はご記載ください。
      = link_to "偽ブランドの販売"
      は犯罪であり処罰される可能性があります。
      %br
      また、出品をもちまして
      = link_to "加盟店規約"
      に同意したことになります。
      = f.submit("出品する", class: "item-contents__submit_go-btn")
      .item-contents__submit_back-btn
        戻る
