.contents
	.contents__title
		%h2 商品の情報を入力
	= form_for @item, url: {controller: :items, action: :new } do |f|
		.contents__image
			= f.file_field :image
		.contents__item-info
			.contents__item-info_name
				%h4 商品名
				%span 必須
				= f.text_field :name, :class => "contents__item-info_name_input"
			.contents__item-info_description
				%h4 商品の説明
				%span 必須
				= f.text_field :description, :class => "contents__item-info_description_input"
		.contents__item-about
			%h3 商品の詳細
			.contents__item-about_condition
				%h4 商品の状態
				%span 必須
				= f.select :condition, :class => "contents__item-about_condition_input"
		.contents__shipping
			%h3 配送について
			.contents__shipping_charge
				%h4 配送料の負担
				%span 必須
				= f.select :shipping_charge, :class => "contents__shipping_charge_input"
			.contents__shipping_method
				%h4 配送の方法
				%span 必須
				= f.select :shipping_method, :class => "contents__shipping_method_input"
			.contents__ship_from_region
				%h4 発送元の地域
				%span 必須
				= f.select :ship_from_region, :class => "contents__ship_from_region_input"
			.contents__shipping_date
				%h4 発送までの日数
				%span 必須
				= f.select :shipping_date, :class => "contents__shipping_date_input"
		.contents__price
			%h3 販売価格(300〜9,999,999)
			%h4 価格
			%span<> 必須
			= f.text_field :price, :class => "contents__price_input"
		.contents__submit
			%p
			%a<>
			禁止されている出品、
			%a<>行為
			を必ずご確認ください。
			%br
			またブランド品でシリアルナンバー等がある場合はご記載ください。
			%a<>偽ブランドの販売
			は犯罪であり処罰される可能性があります。
			%br
			また、出品をもちまして
			%a<>加盟店規約
			に同意したことになります。
			.contents__submit_go-btn
				出品する
			.contents__submit_back-btn
				戻る