= render partial: "layouts/main-header"
- breadcrumb :item, @item
= breadcrumbs separator: " &rsaquo; ", link_current: true
/ 全体
%main.items-wrapper
  %section.item-detail-container
    / 商品名
    %h1.item-name
      = @item.name
    / 商品詳細
    .item-content
      / 画像
      .item-content__photos
        .item-content__photo
          .item-content__photo--active
          - if @item.trade.status == "取引完了"
            .item-content__photo__sold-out-badge
              .item-content__photo__sold-out-badge__text SOLD
            / = image_tag(@itemimage.image.url, class: "display-image" )
          = image_tag(@itemimage.first.image.url, class: "display-image" )
          .item-content__photo.other
            = render partial: "itemimages", collection: @itemimages, as: :itemimage

      / 出品時の登録情報
      %table.item-content__detail-table
        %tbody.item-content__detail-table__tbody
          %tr.item-content__detail-table__tbody__tr
            %th.item-content__detail-table__tbody__th
              出品者
            %td.item-content__detail-table__tbody__td
              = link_to @item.seller.nickname, item_path, method: :get, class: "user-name link"
              .item-content__detail-table__tbody__td__rating
                .item-content__detail-table__tbody__td__icon
                  = icon "fas", "laugh", class: "good-icon"
                  %span.item-content__detail-table__tbody__td__icon__num
                    100
                .item-content__detail-table__tbody__td__icon
                  = icon "fas", "meh", class: "normal-icon"
                  %span.item-content__detail-table__tbody__td__icon__num
                    50
                .item-content__detail-table__tbody__td__icon
                  = icon "fas", "frown", class: "bad-icon"
                  %span.item-content__detail-table__tbody__td__icon__num
                    10
          %tr.item-content__detail-table__tbody__tr
            %th.item-content__detail-table__tbody__th
              カテゴリー
            %td.item-content__detail-table__tbody__td
              -@category.each do |cate|
                = link_to "#{cate.parent.parent.name}", item_path, method: :get, class: "item-content__detail-table__tbody__td__category link"
                = link_to item_path, method: :get, class: "item-content__detail-table__tbody__td__category link" do
                  = icon "fas", "angle-right"
                  %span
                    "#{cate.parent.parent.name}"
                = link_to "/categories/#{cate.id}", method: :get, class: "item-content__detail-table__tbody__td__category link" do
                  = icon "fas", "angle-right"
                  %span
                    "#{cate.parent.name}"
          %tr.item-content__detail-table__tbody__tr
            %th.item-content__detail-table__tbody__th
              ブランド
            %td.item-content__detail-table__tbody__td
              = link_to "ブランド名", item_path, method: :get, class: "brand-name link"
          %tr.item-content__detail-table__tbody__tr
            %th.item-content__detail-table__tbody__th
              商品のサイズ
            %td.item-content__detail-table__tbody__td
              %span.item-size
                XS
          %tr.item-content__detail-table__tbody__tr
            %th.item-content__detail-table__tbody__th
              商品の状態
            %td.item-content__detail-table__tbody__td
              %span.item-condition
                = @item.condition
          %tr.item-content__detail-table__tbody__tr
            %th.item-content__detail-table__tbody__th
              配送料の負担
            %td.item-content__detail-table__tbody__td
              %span.shipping-charge
                = @item.shipping_charge
          %tr.item-content__detail-table__tbody__tr
            %th.item-content__detail-table__tbody__th
              配送の方法
            %td.item-content__detail-table__tbody__td
              %span.shipping-method
                = @item.shipping_method
          %tr.item-content__detail-table__tbody__tr
            %th.item-content__detail-table__tbody__th
              配送元地域
            %td.item-content__detail-table__tbody__td
              = link_to "#{@item.ship_from_region}", item_path, method: :get, class: "prefecture link"
          %tr.item-content__detail-table__tbody__tr
            %th.item-content__detail-table__tbody__th
              発送日の目安
            %td.item-content__detail-table__tbody__td
              %span.shipping-date
                = @item.shipping_date
      / 価格
      .item-content__price
        .item-content__price__box
          %span.item-content__price__box__bold
            = "¥ #{@item.price}"
          %span.item-content__price__box__tax
            （税込）
          %span.item-content__price__box__shipping-charge
            = @item.shipping_charge
    - if user_signed_in? && current_user.id == @item.seller_id && @item.trade.status == "取引完了"
    - elsif user_signed_in? && current_user.id == @item.seller_id
      = link_to "商品の編集", edit_item_path, class: "item-content__buy-btn btn-red link"
      = link_to "この商品を削除する", item_path, method: :delete, class: "item-content__buy-btn btn-red link"
    - elsif @item.trade.status == "取引完了"
      .item-content__buy-btn.btn-gray.sold-out 売り切れました
    - else
      = link_to "購入画面に進む", confirm_buy_item_path, class: "item-content__buy-btn btn-red link", as: "item"
      / 説明文
    .item-content__description
      %p.item-content__description-inner
        = @item.description
      / いいねボタン、不適切ボタン
      .item-content__item-btn
        .item-content__item-btn__left
          .item-content__item-btn__left__like-btn
            = icon "far", "heart", class: "like-icon"
            %span.item-content__item-btn__left__like-btn__text
              いいね!
            %span.item-content__item-btn__left__like-btn__num
              9
          .item-content__item-btn__left__report
            = link_to item_path, method: :get, class: "link" do
              = icon "far", "flag", class: "item-content__item-btn__left__report__icon"
              %span.item-content__item-btn__left__report__text
                不適切な商品の報告
        .item-content__item-btn__right
          = link_to item_path, method: :get, class: "item-content__item-btn__right__icon link" do
            = icon "fas", "lock"
            %span.item-content__item-btn__right__text
              あんしん・あんぜんへの取り組み
      / 商品へのコメント
  .item__comments
    - @comments.each do |comment|
      .item__comment
        .item__comment__left
          .item__comment__left-icon
            = image_tag("yu40ta-avatar.png", size: "40x40")
          - if comment.user_id == comment.item.seller_id
            .item__comment__left-seller
              %p 出品者
        .item__comment__right
          .item__comment__right-name
            %h2
              = comment.user.nickname
          .item__comment__right-comment
            %p
              = comment.text
            = icon "far", "clock", class: "comment-clock"
            %span.comment-clock
              = date_format(comment.created_at)
            = link_to item_path, method: :get, class: "comment-flag" do
              = icon "far", "flag"
          .item__comment__right-balloon
            = icon "fas", "comment"
  - if user_signed_in?
    .item-comment-container
      .item-comment-container__content
        / form_with使う?
        = form_with url: item_comment_path(@item, @comment), class: "item-comment-container__content__form", local: true do |f|
          %p.item-comment-container__content__form__text
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          = f.text_area :text, class: "item-comment-container__content__form__textarea textarea-default"
          - if @item.trade.status == "出品中"
            = f.submit "コメントする", class: "item-comment-container__content__form__submit btn btn-gray link"
          - else
            .item-comment-container__content__form__submit.btn.btn-gray.sold-out
              %p.item-comment-container__content__form__submit__text
                売り切れのためコメントできません
  / 前後ページリンク
  %ul.item-page-link
    %li.item-page-link__prev
      = link_to item_path, method: :get, class: "link" do
        = icon "fas", "angle-left"
        %span
          ブロッコリー史上最も新鮮なブロッコリー
    %li.item-page-link__next
      = link_to item_path, method: :get, class: "link" do
        %span
          意味深なカリフラワー
        = icon "fas", "angle-right"

  .item-sns
    %ul.item-sns__list
      %li.item-sns__list__icon
        = link_to item_path, method: :get, class: "link social-link" do
          = icon "fab", "facebook-square", class: "item-sns__list__icon--facebook"
      %li.item-sns__list__icon
        = link_to item_path, method: :get, class: "link social-link" do
          = icon "fab", "twitter-square", class: "item-sns__list__icon--twitter"
      %li.item-sns__list__icon
        = link_to item_path, method: :get, class: "link social-link" do
          = icon "fab", "pinterest-square", class: "item-sns__list__icon--pinterest"
  .item-other
    %section.item-other__user-items
      %h2.item-other__user-items__head
        = link_to "#{@item.seller.nickname}さんのその他の出品", item_path, method: :get, class: "link item-link"
      .item-other__user-items__content
        = render partial: "/items/user_other_items", collection: @other_items, as: :item

    %section.item-other__same-name-items
      %h2.item-other__user-items__head
        = link_to "同じブランドorサイズ名（同じカテゴリー名） その他の商品", item_path, method: :get, class: "link item-link"
      .item-other__user-items__content
        %section.item-other__user-items__content__box
          = link_to item_path, method: :get, class: "link item-link" do
            %figure.item-other__user-items__content__box__photo
              = image_tag("guitar.jpg", class: "item-image")
            .item-other__user-items__content__box__body
              %h3.item-other__user-items__content__box__body__name
                そこそこのギター
              .item-other__user-items__content__box__num
                .item-other__user-items__content__box__num__price
                  ¥ 50,000
                .item-other__user-items__content__box__num__likes
                  = icon "far", "heart", class: "like-icon"
                  %span.item-other__user-items__content__box__num__likes__num
                    7
                %p.item-other__user-items__content__box__num__tax
                  (税込)
        %section.item-other__user-items__content__box
          = link_to item_path, method: :get, class: "link item-link" do
            %figure.item-other__user-items__content__box__photo
              = image_tag("guitar.jpg", class: "item-image")
            .item-other__user-items__content__box__body
              %h3.item-other__user-items__content__box__body__name
                そこそこのギター
              .item-other__user-items__content__box__num
                .item-other__user-items__content__box__num__price
                  ¥ 50,000
                .item-other__user-items__content__box__num__likes
                  = icon "far", "heart", class: "like-icon"
                  %span.item-other__user-items__content__box__num__likes__num
                    11
                %p.item-other__user-items__content__box__num__tax
                  (税込)
        %section.item-other__user-items__content__box
          = link_to item_path, method: :get, class: "link item-link" do
            %figure.item-other__user-items__content__box__photo
              = image_tag("guitar.jpg", class: "item-image")
            .item-other__user-items__content__box__body
              %h3.item-other__user-items__content__box__body__name
                そこそこのギター
              .item-other__user-items__content__box__num
                .item-other__user-items__content__box__num__price
                  ¥ 50,000
                .item-other__user-items__content__box__num__likes
                  = icon "far", "heart", class: "like-icon"
                  %span.item-other__user-items__content__box__num__likes__num
                    7
                %p.item-other__user-items__content__box__num__tax
                  (税込)
.item-comment-container__content__form__submit__text
= render partial: "layouts/main-footer"
