.card
  .card__container
    .card__container__title
      %h2 クレジットカード情報入力
    .card__container__field
      = form_for "card" do |f|
        .field
          = f.label :card_no, "カード番号"
          %span.required 必須
          = f.text_field "card_no"
          .field__icon
            = embedded_svg("visa.svg", class: "field__icon__size")
            = embedded_svg("master-card.svg", class: "field__icon__size")
            = embedded_svg("saison-card.svg", class: "field__icon__size")
            = embedded_svg("jcb.svg", class: "field__icon__size")
            = embedded_svg("american_express.svg", class: "field__icon__size")
            = embedded_svg("dinersclub.svg", class: "field__icon__size")
            = embedded_svg("discover.svg", class: "field__icon__size")
          .field__validity
            .field__validity__month
              = f.label :validity, "有効期限"
              %span.required 必須
              %br/
              = f.select "month", ["--",1,2,3,4,5,6,7,8,9,10,11,12]
              %span.unit 月
            .field__validity__year
              = f.select "year", ["--",18,19,21,22,23,24,25,26,27]
              %span.unit 年
          .field__security
            = f.label :security, "セキュリティーコード"
            %span.required 必須
            %br/
            = f.text_field "security", placeholder: "カード背面４桁もしくは３桁の番号"
            .field__security__question
              = link_to "カード裏面の番号とは？" , ""
        .actions
          = f.submit "追加する", class: "btn action-btn"


