!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample45a
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body
%header
  .conform-info__header
    =link_to "" do
      = embedded_svg("logo.svg", class:"mercari-icon")

= yield

%footer
.conform-info__footer
  %ul
    %li.conform-info__footer__pravacy
      =link_to "" "プライバシーポリシー"
    %li.conform-info__footer__rule
      =link_to "" "メルカリ利用規約"
    %li.conform-info__footer__commerce-rule
      =link_to "" "特定商取引に関する表記"
  .conform-info__footer__icon
    =link_to "", method:"" do
      = embedded_svg("logo-gray.svg", class:"mercari-grey")
  %small ©️2019 Mercari